@import '../../style/main.css';

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 9px 0;
  transition: 0.3s ease;
  z-index: 100;
}
.Navbar .mobile__menu {
  display: none;
  padding: 10px 15px;
  cursor: pointer;
}
.Navbar .desktop__menu {
  display: block;
}
.Navbar .desktop__menu ul li {
  cursor: pointer;
  padding: 2rem 2.7rem;
  margin: 0 1rem;
}
.Navbar .desktop__menu ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.Navbar .desktop__menu ul li:hover {
  color: #ffe600;
}
.extraLargeNavbar {
  padding: 29px 0;
}
.mobile__navbar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #1e1e1e;
  z-index: 1000;
  width: 50%;
  transition: 0.4s ease;
  padding: 20px;
  overflow-y: auto;
}
.mobile__navbar .mobile__navbar-close {
  padding: 20px;
  margin-right: 80%;
  cursor: pointer;
}
.mobile__navbar .mobile__navbar-close img {
  min-width: 30px;
  height: auto;
}
.mobile__navbar .mobile__navbar-logo {
  padding: 10px;
  cursor: pointer;
}
.mobile__navbar .mobile__navbar-menu {
  padding-top: 20%;
}
.mobile__navbar .mobile__navbar-menu ul li {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  padding: 5% 0;
}
.mobile__navbar .mobile__navbar-menu ul li:hover {
  color: #ffe600;
}
.mobile__open {
  right: 0;
}
.backdrop {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  display: none;
}
.backdrop__open {
  display: block;
}
@media screen and (max-width: 720px) {
  .Navbar .mobile__menu {
    display: block;
 }
  .Navbar .desktop__menu {
    display: none;
 }
  .mobile__navbar {
    width: 70%;
 }
}
@media screen and (max-width: 520px) {
  .mobile__navbar {
    width: 100%;
 }
}
